<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <!-- 浏览器会自行访问localhost:3000/favicon.ico 下面代码可以阻止访问 -->
  <link rel="icon" href="data:,">
</head>

<body>
